@mixin setSize($w, $m, $bg){
	width: $w;
	margin: $m;
	background-color: $bg;
}
@import "mixin";
body {
	font-family: "微软雅黑";
	background-color: #eee;
	padding-bottom: 50px;
	cursor: url(1.cur), auto;
}
a, .warp {
	cursor: url(2.cur), auto;
}
header {
	position: relative;
	font-family: Arial;
	text-align: center;
	a {
		display: block;
		color: #fff;
		font-size: 20px;
		padding: 5px;
		@include setSize(120px, 10px auto, #888);
		@include border-radius(10px);
		@include box-shadow(5px 5px 5px #999);
		@include text-shadow(1px 1px 2px #fff);
	}
	p {
		font-size: 24px;
		font-weight: 400;
		color: #444;
	}
}
@import "minesweeping";